@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/globals" as *;
@use "../../styles/partials/variables" as *;
.address {
  color: black;
}
.cmarker {
  width: 20px;
  height: 20px;
  padding-left: 20px;
}
.header {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-color: $bg-color;
  height: 80px;
  @include tablet {
    flex-direction: row;
    align-items: center;
    height: auto;
    padding: 1.5rem 0;
  }
  @include desktop {
    margin: auto;
    padding-left: 0;
    padding-right: 0;
  }
  &__background {
    width: 100%;
    background-color: $bg-color;
  }
  &__logoLink {
    text-decoration: none;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    @include tablet {
      padding: 0.5rem 0;
    }
  }
  &__logo {
    width: 3.75rem;
    height: 3.75rem;
    padding-left: 1rem;
  }
  &__cart {
    width: 1rem;
    height: 1rem;
    padding-right: 1rem;
  }
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0 0.5rem 1.5rem 0.5rem;

  @include tablet {
    padding: 0 0 0.25rem 0;
  }

  &__item {
    font-size: 0.5rem;
    color: $primary-text-color;
    font-weight: bold;
    text-decoration: none;
    width: 22%;
    padding: 0.5rem;
    text-align: center;
    @include tablet {
      font-size: 0.875rem;
      width: 100%;
      padding: 0.5rem 1rem;
    }
    &:hover {
      color: $nav-hover;
    }
    &--active {
      color: white;
      border-radius: 1.25rem;
      background-color: grey;
    }
  }
}
