.chips-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 4px;
}

.chip {
  display: flex;
  align-items: center;
  padding: 5px 4px;
  margin: 0.0625rem;
  background-color: #e0e0e0;
  border-radius: 8px;
  color: black;
  font-weight: bold;
  font-size: 0.625rem;
}

.chip-close {
  margin-left: 8px;
  cursor: pointer;
  font-weight: bold;
}

.chips-input {
  border: none;
  outline: none;
  flex: 1;
  min-width: 100px;
  margin: 5px;
}
