@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.high-rate {
  display: flex;
  flex-direction: column;
  align-items: start;
  &__title {
    padding-left: 1rem;
  }
  &__imageContainer {
    display: flex;
    flex-direction: column;
  }
  &__imageDescription {
    width: 100%;
    padding: 1rem;
    background-color: $card-color;
  }
  &__gridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 5px;
    padding: 0.625rem;
  }

  &__high-rate__gridItem {
    background-color: #4caf50;
    color: white;
    font-size: 1.125rem;
    text-align: center;
    border-radius: 0.25rem;
  }
  &__img {
    width: 100%;
    height: 25%;
    object-fit: cover;
    border-radius: 0.25rem;
  }
  &__imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__foodImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.25rem;
  }

  &__img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.1);
    }
  }
  &__content {
    height: 9.375rem;
    padding: 1rem;
    background-color: $card-color;
    &:hover {
      transform: scale(1.1);
    }
  }
  &__category {
    color: $primary-text-color;
    margin: 0;
    margin-right: 0.625rem;
    font-size: 0.625rem;
    line-height: 0;
  }
  &__categories,
  &__cook {
    display: inline-flex;
    align-items: center;
    margin-right: 0.5rem;
    font-weight: bold;
    line-height: 0;
  }
  &__cook {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__cooksName,
  &__foodName {
    color: $primary-text-color;
    font-size: 0.8125rem;
    line-height: 0;
    font-weight: bold;
    margin: 0;
  }
  &__foodName {
    margin-top: 0.3125rem;
    white-space: nowrap;
    // overflow: scroll;
    text-overflow: ellipsis;
    width: 200px;
    @include tablet {
      font-size: 20px;
    }
  }
  &__marker {
    width: 0.625rem;
    height: 0.625rem;
    padding-right: 1.875rem;
  }
  &__greenDot {
    width: 0.375rem;
    height: 0.375rem;
    background-color: green;
    border-radius: 50%;
    margin-right: 2px;
  }
}
